useDynLib(samc)
importClassesFrom("Matrix", "dgCMatrix")
importClassesFrom("raster", "RasterLayer")
importFrom("methods", "as")
importFrom("gdistance", "transition")
importFrom("RcppParallel", "RcppParallelLibs")
exportPattern("^[[:alpha:]]+")
