useDynLib(samc)
importClassesFrom("Matrix", "CsparseMatrix")
importClassesFrom("Matrix", "dgCMatrix")
importClassesFrom("raster", "RasterLayer")
importClassesFrom("terra", "SpatRaster")
importFrom("methods", "as")
importFrom("methods", "new")
importFrom("methods", "is")
exportPattern("^[[:alpha:]]+")
